body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #ebccfc;
  color: #1a1a1a;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.sidebar {
  width: 30%;
  background-color: #222933;
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 30px;
}

.sidebar img {
  width: 100%;
  border-radius: 20px;
}

.sidebar .button {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #ebccfc;
  color: #222933;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.socials i {
  font-size: 24px;
  margin: 10px;
  color: #ebccfc;
}

.main-content {
  width: 70%;
  padding: 40px;
}

.main-content h1 {
  font-size: 42px;
  margin-bottom: 0;
}

.main-content h2 {
  font-weight: 400;
  margin-top: 5px;
}

.about {
  margin-top: 40px;
}

.about h3 {
  font-size: 28px;
  color: #630f74;
}

.about p {
  font-size: 18px;
  line-height: 1.6;
}

.btn-group {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  margin: 10px;
  background-color: #fff9f4;
  color: #1a1a1a;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 600;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #e3bbea;
}


